<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        //numbers = [11, 22, 33, 44, 55, false, 'jrllo']
        // console.log(numbers)
        // console.log(numbers[0])
        // console.log(typeof(numbers))
        // for(i=0;i<numbers.length;i++){
        //     if(numbers[i]%2==0){
        //         console.log(numbers[i])

        //     }

        // }
        // users = {
        //     "name": "Yahya",
        //     "email": "yahya@73",
        //     "place": "tirur",
        //     "phonenumber": 999222,
        //     1: 9847576784,
        //     "skills" : ['html','css','python']
        // }
        // console.log(users)
        // console.log(users[1])
        // for(item in users){
        //     console.log(item + 'is' + users[item])
        // }
       // for(item of numbers){
        //     console.log(item)

        // }
        fooditems = ["biriyani","manthi","broast","gheerice"]
        places = ["tirur","tanur","parappanangadi","vallikkunnu"]
        console.log(places.toString())
        console.log(places.join("*"))
        places.pop()
        console.log(places)
        places.push("kadalundi")
        console.log(places)
        places.shift()
        console.log(places)
        places.unshift("naduvilangadi")
        console.log(places)
        console.log(fooditems.concat(places))
        places.splice(1,2,"kottayam","malappuram")
        console.log(places)
        places.sort()
        console.log(places)
        places.reverse()
        console.log(places)


    </script>
</body>

</html>