{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/css_broto_sample.css'  %}">
</head>

<body>
    <h1 class="sample">
        hai welcome to my page
    </h1>
    <h2 class="sample">
        this is a test for testing exteranl css
    </h2>
    <div class="maindiv">
        <p>something</p>
    </div>
</body>

</html>