<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    <!-- <div id="new" style="border: 2px red solid; width: 100px; height: 100px; padding: 10px; margin: 10px;">
        Hai Welcome to my page
    </div>
    <script>
        console.log($("#new").innerHeight())
    </script> -->
    <p>hello</p>
    <p>hiii</p>
    <p>hooi</p>
    <div>
        <ul>
            <li>yahya</li>
            <li>vishnu</li>
            <li>aparna</li>
            <li><span>prashob</span></li>
        </ul>
    </div>
    <script>
        $(document).ready(function(){
            console.log($("p").eq(0))
        })
    </script>
</body>

</html>