{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <button onclick="alert('Welcome')">
        Login
    </button>
    <script>
        document.write('<h1>hello hai</h1>')
    </script> -->
    <script>
        // num1 = 10
        // num2 = '10'
        // higher_studies = false
        // //document.write(num1)
        // console.log(num1)
        // console.log(typeof (num1))

        // console.log(num1 + num2)
        // name = "yahya p"
        // console.log(name)
        // console.log(name.length)
        // console.log(name[7])
        // console.log(higher_studies)


        // name = prompt('Enter you name')
        // age = prompt('Enter you age')
        // document.write('<h1>hello ' ,name , 'your age is ' ,age, '</h1>')
        // num1 = parseInt(prompt('Enter the first number'))
        // num2 = parseInt(prompt('Enter the second number'))
        // console.log(typeof(num1))
        // sum = num1 + num2
        // document.write('The sum of ' ,num1 , ' and ', num2 ,' is ',sum)
        // name = prompt('Enter your name')
        // age = prompt('Enter your age please')
        // remainingage = 100-age
        // document.write(' Dear ',name,' you have ',remainingage,' years to turn 100 ')
        // num1 = parseInt(prompt('Enter the First number'))
        // num2 = parseInt(prompt('Enter the Second number'))
        // product = num1 * num2
        // document.write(' The product of ',num1,' and ',num2,' is ',product)


        // var num=prompt('Enter the Number')
        // if(num%2==0){
        //     alert('The Number you have entered is Even')
        // }else{
        //     alert('The Number you have entered is Odd')
        // }

        // var num = prompt('Enter the number you have to check')
        // var rem
        // var testnum
        // var sum = 0
        // testnum = num


        // while(num > 0){
        //     rem = num % 10
        //     sum = sum + (rem**3)
        //     num = Math.floor(num/10)
        // }
        // if(testnum == sum){
        //     alert('The number you have entered is an amstrong number')
        // }else{
        //     alert('The number you have entered is not an amstrong number')
        // }


        // word = prompt('Enter the word you need to check')
        // len=length(word)
        // for(i=0;i<len/2;i++){
        //     if()
            
salary = prompt('Enter Your Salary')
annualsalary = salary * 12;
salaryaft5yrs=annualsalary * 5;
document.write('Your Annual Salary is ',annualsalary,  ' <br> Your salary after 5 years will be ',salaryaft5yrs);



        // }



        


















        

        

        






    </script>
</body>

</html>