<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>

<body>
    <h1
        style="text-align: center; color: rgb(50, 50, 134); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 30px;margin-top: 20px;">
        <u>PRODUCT DETAILS </u>
    </h1><br>
    <!-- <div class="container">
        Product Name : 
        <input type="text"> <br><br>
        Product Description :
        <input type="text"> <br><br>
        Current Stock :
        <input type="text"> <br><br>
        Price : 
        <input type="text"> <br><br>
    </div> -->
    <div class="container"
        style="background-color: rgb(147, 228, 147); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;height: 400px; width: 400px;border-radius: 10px;">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Product Name</label>
            <input type="email" class="form-control" id="nameField">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Product Description</label>
            <textarea class="form-control" id="descriptionField" rows="1"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Current Stock</label>
            <input type="email" class="form-control" id="stockField">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Price</label>
            <input type="email" class="form-control" id="priceField">   
        </div>
        <button type="button" class="btn btn-success" onclick="addProduct()">Submit</button>

    </div>
    <br>
    <div class="container">
        <table class="table" id="t_id">
            <thead style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                <tr>
                    <th scope="col">Sl.No</th>
                    <th scope="col">Product Number</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Current Stock</th>
                    <th scope="col">Edit Action</th>
                    <th scope="col">Delete Action</th>
                </tr>
            </thead>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Your Product Details</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Please enter the data you need to edit
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Update Changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <script>

                //creating variables for the labels 
                const name = document.getElementById('nameField')
                const Description = document.getElementById('descriptionField')
                const Stock = document.getElementById('stockField')
                const Price = document.getElementById('priceField')
                var serial_num = 0

                function addProduct() {

                    //declare variable names of the table 
                    var newrow = document.createElement('tr')
                    var td_S_No = document.createElement('td')
                    var td_P_No = document.createElement('td')
                    var td_P_Name = document.createElement('td')
                    var td_P_Desc = document.createElement('td')
                    var td_Price = document.createElement('td')
                    var td_Stock = document.createElement('td')
                    var td_edit = document.createElement('td')
                    var td_delete = document.createElement('td')


                    //to clarify that these are the childrens of the main row
                    newrow.appendChild(td_S_No)
                    newrow.appendChild(td_P_No)
                    newrow.appendChild(td_P_Name)
                    newrow.appendChild(td_P_Desc)
                    newrow.appendChild(td_Price)
                    newrow.appendChild(td_Stock)
                    newrow.appendChild(td_edit)
                    newrow.appendChild(td_delete)

                    var table = document.getElementById('t_id')
                    table.appendChild(newrow)
                    var date = new Date()
                    td_P_Name.innerHTML = name.value
                    td_P_Desc.innerHTML = Description.value
                    td_Price.innerHTML = Price.value
                    td_Stock.innerHTML = Stock.value
                    td_edit.innerHTML = '<button class = "btn btn-success bg-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Edit</button>'
                    td_delete.innerHTML = '<button class = "btn btn-danger bg-danger" onclick = "deleteRow(this)">Delete</button>'



                    serial_num++
                    td_S_No.innerHTML = serial_num
                    td_P_No.innerHTML = 'PRO0' + serial_num + (date.getMonth() + 1) + date.getFullYear()

                    name.value = ''
                    Description.value = ''
                    Price.value = ''
                    Stock.value = ''


                }
                function deleteRow(r) {
                    //for deleting row from the tab
                    var i = r.parentNode.parentNode.rowIndex
                    document.getElementById("t_id").deleteRow(i)
                }

            </script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
                integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
                integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
                crossorigin="anonymous"></script>
</body>

</html>