<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        // let a = 10
        // var a = 'name'
        // console.log(a)
        // const pi=3.14
        // var pi = 5.2
        // var x=30

        // function display(){
        //     var x = 20
        //     console.log(x)
        // }
        // display()
        // console.log(x)


        // function sum(x,y){
        //     var sum = x+y
        //     //console.log(sum)
        //     return sum
        // }
        // var result = sum(20,30)
        // console.log(result)
  
        

        

    </script>
</body>
</html>